<form method="post" action="/figures/new">
<label for="name">Name:</label>
<input type="text" name="name" id="name">
<label for="title">Title:</label>
<input type="text" name="title" id="title">
<label for="landmark">Landmark:</label>
<input type="text" name="landmark" id="landmark">
<input type="submit" value="Create">
</form>